
// *Import partials

// *Load Spinner
@import "partials/spinner";

// *Load Variables
@import "partials/variables";

// *Import Reset
@import "partials/reset";

// *Import Main
@import "partials/main";

// *Import About
@import "partials/about";

// *Import Things i love
@import "partials/things-i-love";

// *Import SkillSets
@import "partials/skillsets";

// *Import projects
@import "partials/projects";

// *Import Mini Projects
@import "partials/mini-projects";

// *Import Wanna Talk
@import "partials/wanna-talk";

// *Import Footer
@import "partials/footer";

// *Styling of page heading of each page
.page-heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--page-heading-text);
  color: white;
}
//*Styling page description of each page
.desc {
  width: 60%;
  font-size: calc(var(--medium-text) + 0.3rem);
  color: white;
  margin: 0 auto 0 auto;
  padding-top: 4.5rem;
}
//*Check Repository Button Style
.check-repo-btn {
  display: block;
  width: 13rem;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  font-size: var(--check-repo-btn-size);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition:1s;
 
  a {
    text-decoration: none;
    color: white;
  }
}
.check-repo-btn:hover{
  background: transparent;
  outline:0.1rem solid var(--primary-color);

}
//*Styling of technologies used class for each page
.technologies-used {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3.9rem;
  font-size: calc(var(--small-text) - 0.2rem);
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 0 0.3rem;
}


.live-link {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3.7rem;
  font-size: var(--medium-text);
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
  }
}
//*Media Queries
@media only screen and (max-width: 996px) {
  html {
    font-size: 58%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 70%;
    div {
      width: 6rem;
      height: 6rem;
      font-size: calc(var(--skills-icon-size) - 1rem);
    }
  }
  //*Redesign Project Page
  .projects-page .projects-container {
    align-items: center;
    .project-item {
      outline: 0.1rem solid var(--primary-color);
      position: relative;
      width: 50rem;
      min-height: 25rem;
      left: 0;

      p {
        width: 100%;
      }
      .screenshot-project {
        display: none;
      }
    }
    
    .desc {
      width: 65%;
    }
  }
}

@media screen and (max-width: 670px) {
  .desc {
    width: 80%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 80%;
    div {
      margin: 2rem 2rem;
    }
  }
  #landing-page {
    .logo {
      left: 5rem;
    }

    .hero-div {
      left: 5rem;
    }
    .bottom-container {
      .social-links {
        display: none;
      }
      .navigation {
        position: absolute;
        right: -3rem;
        bottom: 5rem;
      }
    }
  }
}

//*Mobile Design
@media only screen and (max-width: 600px) {
  :root {
    --hero-text: 6rem;
  }
  #about .content-wrapper {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
    .about-me {
      width: 80%;
      margin: 2rem 0 5rem 0;
    }
  }

  .things-i-love-page .container {
    height: auto;
    flex-direction: column;
    .wrapper {
      margin: 2rem 0;
      width: 60%;
    }
  }
  .skillsets-page {
    margin-top: 10rem;
    min-height: 55vh;
    
    .container .skills-icon-container {
      div {
        width: 5rem;
        height: 5rem;
        font-size: calc(var(--skills-icon-size) - 2rem);
      }
    }
  }
  
  .projects-page .projects-container .project-item {
    width: 80%;
  }
  .wanna-talk-page .container .content {
    width: 80%;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 52%;
  }

  .things-i-love-page .container .wrapper {
    width: 80%;
  }

  #about .quote-text {
    padding: 0 4rem;
  }
  #landing-page .dev-container p {
    opacity: 0.02;
  }
}
@media only screen and (max-width: 450px) {
  .skillsets-page .container .skills-icon-container div {
    width: 4rem;
    height: 4rem;
    font-size: calc(var(--skills-icon-size) - 3rem);
  }
  .projects-page .projects-container .project-item{
    min-height: 28rem;
  }
}
