@import "variables";
//Universal Selector
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  //To set 1rem=10px
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: $primary-background-color;
}
// ?PAGE SEPARATOR
// hr {
//     border: dotted rgba(0, 0, 0, 0.5) 1rem;
//     border-bottom: none;
//     width: 8%;
//     margin: 10rem auto;
//   }

.landing-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  .logo {
    position: absolute;
    left: 10rem;
    width: 10rem;
    height: 10rem;
    font-size: 7rem;
    //?Line Height must be equal to height of div to center the text inside the div
    line-height: 10rem;
    font-family: "Crete Round", serif;
    color: $primary-color;
  }
  .hero-div {
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.4;
    font-family: "Josefin Sans", sans-serif;
    & p:nth-child(1) {
      color: $primary-color;
      font-size: 2rem;
    }
    & p:nth-child(2) {
      color: white;
      font-size: 7rem;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
        0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }
    & p:nth-child(3) {
      color: #ded2d2;
      opacity: 0.62;
      font-size: 3.5rem;
    }
    & p:nth-child(4) {
      font-family: "Ubuntu", sans-serif;
      color: #ded2d2;
      opacity: 0.2;
      font-size: 8rem;
    }
  }
  .dev-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    p {
      transform: rotate(90deg);
      font-size: 20rem;
      font-family: "Josefin Sans", sans-serif;
      color: #ded2d2;
      opacity: 0.1;
      padding-top: 1rem;
    }
  }
  .bottom-container {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-links {
      display: flex;
      margin-left: 10rem;
      p {
        padding: 0 1rem;
      }
      a {
        color: $primary-color;
        text-decoration: none;
        font-size: 2rem;
        font-family: "Crimson Text", serif;
      }
    }
    .navigation {
      width: 4rem;
      height: 4rem;
      background-color: $primary-color;
      border-radius: 50%;
      margin-right: 10rem;
      text-align: center;
      line-height: 6.5rem;
      cursor: pointer;
      // Styling Icons
      .iconify{
        color: white;
        font-size: 3rem;
      }
    }
  }
}
.page-heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  color: white;
}
.about-page {
  width: 100vw;
  min-height: 100vh;
  padding-top: 7rem;
  .content-wrapper {
    display: flex;
    justify-content: center;
    //   align-items:center;
    height: 40vh;
    margin-top:3rem;
    .about-me {
      width: 47%;
      height: inherit;
      color: white;
      font-family: "Crimson Text", serif;
      font-size: 2.2rem;
      p {
        text-indent: 7rem;
      }
    }
    .my-picture {
      height: 250px;
      width: 250px;
      img {
        max-width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .quote-text {
    text-align: center;
    color: white;
    font-family: "Caveat", cursive;
    font-size: 3.2rem;
  }
}
.things-i-love-page {
  width: 100vw;
  min-height: 100vh;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
    margin-top: 1.5rem;
    .wrapper {
      position: relative;
      width: 28rem;
      height: 30rem;
      margin: 0 1rem;
      border-radius: 2rem;
      background-color: $secondary-background-color;
      color: white;
      padding: 3rem 2rem;
      line-height: 1.4;
      font-family: "Crimson Text", serif;

      .logo-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 5rem;
        height: 5rem;
        line-height: 8rem;
        text-align: center;
        border-radius: 50%;
        background-color: $primary-color;
        // Styling Icons
        .iconify[data-icon="cib:linux"],
        .iconify[data-icon="bx:bxl-javascript"],
        .iconify[data-icon="bx:bx-code-alt"] {
          color: white;
          font-size: 4rem;
        }
      }
    }
    h3 {
      text-align: center;
      font-size: 2.2rem;
      margin-top: 7rem;
    }
    p {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
}
  
