*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crimson Text", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #191919;
}

.landing-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.landing-page .logo {
  position: absolute;
  left: 10rem;
  width: 10rem;
  height: 10rem;
  color: #137FFD;
  font-size: 7rem;
  line-height: 10rem;
  font-family: "Crete Round", serif;
}

.landing-page .hero-div {
  position: absolute;
  left: 10rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}

.landing-page .hero-div p:nth-child(1) {
  color: #137FFD;
  font-size: 2rem;
}

.landing-page .hero-div p:nth-child(2) {
  color: white;
  font-size: 7rem;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.landing-page .hero-div p:nth-child(3) {
  color: #ded2d2;
  opacity: 0.62;
  font-size: 3.5rem;
}

.landing-page .hero-div p:nth-child(4) {
  color: #ded2d2;
  opacity: 0.2;
  font-size: 8rem;
  font-family: "Ubuntu", sans-serif;
}

.landing-page .dev-container {
  width: 20rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.landing-page .dev-container p {
  color: #ded2d2;
  font-size: 20rem;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1rem;
  opacity: 0.1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.landing-page .bottom-container {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .bottom-container .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10rem;
}

.landing-page .bottom-container .social-links p {
  padding: 0 1rem;
}

.landing-page .bottom-container .social-links a {
  color: #137FFD;
  text-decoration: none;
  font-size: 2rem;
}

.landing-page .bottom-container .navigation {
  width: 4rem;
  height: 4rem;
  background-color: #137FFD;
  border-radius: 50%;
  margin-right: 10rem;
  text-align: center;
  line-height: 6.5rem;
  cursor: pointer;
}

.landing-page .bottom-container .navigation .iconify {
  color: white;
  font-size: 3rem;
}

.page-heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  color: white;
}

.about-page {
  width: 100vw;
  min-height: 100vh;
  padding-top: 7rem;
}

.about-page .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  margin-top: 3rem;
}

.about-page .content-wrapper .about-me {
  width: 47%;
  height: inherit;
  color: white;
  font-size: 2.2rem;
}

.about-page .content-wrapper .about-me p {
  text-indent: 7rem;
}

.about-page .content-wrapper .my-picture {
  height: 250px;
  width: 250px;
}

.about-page .content-wrapper .my-picture img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-page .quote-text {
  text-align: center;
  color: white;
  font-size: 3.2rem;
  font-family: "Caveat", cursive;
}

.things-i-love-page {
  width: 100vw;
  min-height: 100vh;
}

.things-i-love-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40rem;
  margin-top: 1.5rem;
}

.things-i-love-page .container .wrapper {
  position: relative;
  width: 28rem;
  height: 30rem;
  margin: 0 1rem;
  border-radius: 2rem;
  background-color: #232323;
  color: white;
  padding: 3rem 1.5rem;
  line-height: 1.4;
}

.things-i-love-page .container .wrapper .icon-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  line-height: 8rem;
  text-align: center;
  border-radius: 50%;
  background-color: #137FFD;
}

.things-i-love-page .container .wrapper .icon-container .iconify {
  color: white;
  font-size: 4rem;
}

.things-i-love-page .container h3 {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 7rem;
}

.things-i-love-page .container p {
  font-size: 2rem;
  margin-top: 2rem;
}

.skillsets-page {
  width: 100vw;
  min-height: 100vh;
}

.skillsets-page .container {
  height: 50rem;
  margin-top: 1.5rem;
  position: relative;
}

.skillsets-page .container .skills-icon-container {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.skillsets-page .container .skills-icon-container div {
  width: 7rem;
  height: 7rem;
  margin: 3rem 2rem;
  color: white;
  font-size: 7rem;
}

.skillsets-page .container .skills-icon-container div#scss svg path {
  fill: white;
}

.skillsets-page .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #232323;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate(-4.3deg) scaleX(1.2);
          transform: rotate(-4.3deg) scaleX(1.2);
}

.desc {
  width: 60%;
  font-size: 2.2rem;
  color: white;
  line-height: 1.4;
  margin: 0 auto 0 auto;
  padding-top: 4.5rem;
}

.projects-page {
  width: 100%;
  min-height: 100vh;
}

.projects-page .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.projects-page .projects-container .project-item {
  position: relative;
  width: 50rem;
  min-height: 28rem;
  color: white;
  background-color: #232323;
  border-radius: 1rem;
  padding: 2rem 0 0 2rem;
}

.projects-page .projects-container .project-item h3 {
  font-size: 2.2rem;
}

.projects-page .projects-container .project-item p {
  margin-top: 1rem;
  line-height: 1.4;
  font-size: 2rem;
  width: 70%;
}

.projects-page .projects-container .project-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  position: absolute;
  bottom: 1.5rem;
}

.projects-page .projects-container .project-item .wrapper .made-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page .projects-container .project-item .screenshot-project {
  position: absolute;
  width: 35rem;
  height: 20rem;
  right: -22rem;
  top: 1.5rem;
  z-index: 1;
}

.projects-page .projects-container .project-item .screenshot-project img {
  max-width: 100%;
  height: 100%;
}

.mini-project-page {
  width: 100vw;
  min-height: 100vh;
}

.mini-project-page .container {
  width: 100%;
  height: 50rem;
  position: relative;
  margin-top: 5rem;
}

.mini-project-page .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  -webkit-transform: rotate(-4.3deg) scaleX(1.2);
          transform: rotate(-4.3deg) scaleX(1.2);
  z-index: -1;
}

.mini-project-page .container .projects-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}

.mini-project-page .container .projects-container::-webkit-scrollbar {
  display: none;
}

.mini-project-page .container .projects-container .project-item {
  position: relative;
  min-width: 30rem;
  width: 30rem;
  height: 20rem;
  color: white;
  background-color: #191919;
  padding: 2rem 1rem;
  margin-left: 3rem;
  outline: 1px solid blue;
}

.mini-project-page .container .projects-container .project-item h3.title {
  font-size: 2rem;
}

.mini-project-page .container .projects-container .project-item p {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-top: 1rem;
}

.mini-project-page .container .projects-container .project-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  position: absolute;
  bottom: 1.5rem;
}

.mini-project-page .container .projects-container .project-item .wrapper .made-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-repo-btn {
  display: block;
  width: 13rem;
  border: none;
  outline: none;
  background-color: #137FFD;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.technologies-used {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #137FFD;
  margin: 0 0.3rem;
}
/*# sourceMappingURL=main.css.map */