#cssload-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: var(--primary-background-color);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  overflow: hidden;
}

.cssload-loader {
  width: 146px;
  height: 146px;
  border: 1px white solid;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -73px 0 0 -73px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cssload-loader .cssload-loading {
  font-size: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 14px;
  font-family: 'Century Gothic', sans-serif;
  font-style: italic;
  left: 0;
  top: 50%;
  margin-top: 19px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -o-text-transform: uppercase;
  -ms-text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
}

.cssload-loader-circle-1 {
  width: 135px;
  height: 135px;
  left: 5px;
  top: 5px;
  border: 1px white solid;
  position: absolute;
  border-right-color: transparent;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: spin 3.45s linear infinite;
  -o-animation: spin 3.45s linear infinite;
  -ms-animation: spin 3.45s linear infinite;
  -webkit-animation: spin 3.45s linear infinite;
  -moz-animation: spin 3.45s linear infinite;
}

.cssload-loader-circle-2 {
  width: 123px;
  height: 123px;
  left: 5px;
  top: 5px;
  border: 1px transparent solid;
  position: absolute;
  border-right-color: var(--primary-color);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: spin 5.75s linear infinite;
  -o-animation: spin 5.75s linear infinite;
  -ms-animation: spin 5.75s linear infinite;
  -webkit-animation: spin 5.75s linear infinite;
  -moz-animation: spin 5.75s linear infinite;
}

.cssload-loader .cssload-line {
  width: 10px;
  height: 2px;
  background: white;
  position: absolute;
}

.cssload-loader .cssload-line:nth-child(1) {
  left: 16px;
  top: 50%;
  margin-top: -1px;
}

.cssload-loader .cssload-line:nth-child(2) {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  left: 32px;
  top: 32px;
}

.cssload-loader .cssload-line:nth-child(3) {
  top: 16px;
  left: 50%;
  width: 2px;
  height: 10px;
}

.cssload-loader .cssload-line:nth-child(4) {
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  right: 32px;
  top: 32px;
}

.cssload-loader .cssload-line:nth-child(5) {
  right: 16px;
  top: 50%;
  margin-top: -1px;
}

.cssload-loader .cssload-line:nth-child(6) {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  right: 32px;
  bottom: 32px;
  background: white;
}

.cssload-loader .cssload-subline {
  position: absolute;
  width: 3px;
  height: 2px;
  background: white;
}

.cssload-loader .cssload-subline:nth-child(7) {
  transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  left: 20px;
  top: 49px;
}

.cssload-loader .cssload-subline:nth-child(8) {
  transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -webkit-transform: rotate(67.5deg);
  -moz-transform: rotate(67.5deg);
  left: 49px;
  top: 20px;
}

.cssload-loader .cssload-subline:nth-child(9) {
  transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -webkit-transform: rotate(112.5deg);
  -moz-transform: rotate(112.5deg);
  right: 49px;
  top: 20px;
}

.cssload-loader .cssload-subline:nth-child(10) {
  transform: rotate(157.5deg);
  -o-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  -webkit-transform: rotate(157.5deg);
  -moz-transform: rotate(157.5deg);
  right: 20px;
  top: 49px;
}

.cssload-loader .cssload-subline:nth-child(11) {
  transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  right: 19px;
  bottom: 48px;
  background: white;
}

.cssload-loader .cssload-needle {
  width: 14px;
  height: 14px;
  border: 1px white solid;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  z-index: 1;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  animation: pegIt 3.45s infinite ease-in-out;
  -o-animation: pegIt 3.45s infinite ease-in-out;
  -ms-animation: pegIt 3.45s infinite ease-in-out;
  -webkit-animation: pegIt 3.45s infinite ease-in-out;
  -moz-animation: pegIt 3.45s infinite ease-in-out;
}

.cssload-loader .cssload-needle:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.5px 49px 3.5px 0;
  border-color: transparent var(--primary-color) transparent transparent;
  position: absolute;
  right: 50%;
  top: 50%;
  margin: -3.5px 0 0 0;
  border-radius: 0 50% 50% 0;
  -o-border-radius: 0 50% 50% 0;
  -ms-border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0;
}

@keyframes pegIt {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  30% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  36% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  42% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(227deg);
            transform: rotate(227deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes pegIt {
  0% {
    -webkit-transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(75deg);
  }
  25% {
    -webkit-transform: rotate(55deg);
  }
  30% {
    -webkit-transform: rotate(90deg);
  }
  36% {
    -webkit-transform: rotate(170deg);
  }
  42% {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(227deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

:root {
  --primary-color: #006eff;
  --primary-background-color: #191919;
  --secondary-background-color: #232323;
  --dev-color:#ded2d2;
  --page-heading-color:white;
  --things-i-love-background:#232323;
  --text-color:white;
  --navigation-button-logo-size: 30px;
  --dev-icon-size: 20rem;
  --logo-size: 5rem;
  --hero-text: 7rem;
  --skills-icon-size: 7rem;
  --code-text: 7rem;
  --sub-hero-text: 3.5rem;
  --page-heading-text: 4rem;
  --icons-size: 4rem;
  --quote-text: 3.2rem;
  --medium-text: 2.5rem;
  --small-text: 2rem;
  --social-links-text: 2.2rem;
  --check-repo-btn-size: 1.5rem;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Crimson Text", serif;
  scrollbar-color: var(--primary-color) var(--primary-background-color);
}

html {
  width: 100vw;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden !important;
  background-color: var(--primary-background-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: var(--primary-color);
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.landing-page .logo {
  position: absolute;
  left: 7rem;
  top: 2rem;
  color: var(--primary-color);
  font-size: var(--logo-size);
  cursor: pointer;
}

.landing-page .logo p {
  font-family: 'Charmonman', cursive;
}

.landing-page .mode-switch-btn {
  position: absolute;
  right: 3rem;
  top: 1rem;
  z-index: 100;
}

.landing-page .mode-switch-btn #switch-btn {
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  color: var(--text-color);
  cursor: pointer;
}

.landing-page .hero-div {
  position: absolute;
  left: 7rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Josefin Sans", sans-serif;
}

.landing-page .hero-div p:nth-child(1) {
  color: white;
  font-size: calc(var(--small-text) + 1rem);
}

.landing-page .hero-div p:nth-child(2) {
  color: white;
  font-size: var(--hero-text);
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.landing-page .hero-div p:nth-child(3) {
  color: #ded2d2;
  opacity: 0.62;
  font-size: var(--sub-hero-text);
}

.landing-page .hero-div p:nth-child(4) {
  color: #ded2d2;
  opacity: 0.2;
  font-size: var(--code-text);
  font-family: "Ubuntu", sans-serif;
}

.landing-page .hero-div .wave {
  width: 5rem;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.landing-page .dev-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;
  height: 100vh;
}

.landing-page .dev-container p {
  color: var(--dev-color);
  font-size: var(--dev-icon-size);
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1rem;
  opacity: 0.1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.landing-page .bottom-container {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .bottom-container .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6rem;
  list-style: none;
}

.landing-page .bottom-container .social-links ul li {
  padding: 0 1rem;
}

.landing-page .bottom-container .social-links ul a {
  color: white;
  text-decoration: none;
  font-size: var(--social-links-text);
}

.landing-page .bottom-container .social-links ul a:hover {
  color: var(--primary-color);
}

#about {
  min-height: 70rem;
  padding: 7rem 0 7rem 0;
  background-color: var(--secondary-background-color);
}

#about .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

#about .content-wrapper .about-me {
  width: 40%;
  color: white;
  font-size: var(--medium-text);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#about .content-wrapper .about-me span {
  font-weight: 600;
}

#about .content-wrapper .about-me span.flag {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
}

#about .content-wrapper .about-me span.flag img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#about .content-wrapper .about-me p {
  margin-bottom: 1.5rem;
}

#about .content-wrapper .my-picture {
  height: 30rem;
  width: 30rem;
  margin: 3rem 0 0 3rem;
}

#about .content-wrapper .my-picture img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 50%;
}

#about .quote-text {
  text-align: center;
  color: white;
  padding: 0 5rem;
  font-size: var(--quote-text);
  font-family: "Caveat", cursive;
}

.things-i-love-page {
  min-height: 45rem;
  margin-top: 5rem;
}

.things-i-love-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 3.5rem;
}

.things-i-love-page .container .wrapper {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 3rem 3rem;
  border-radius: 2rem;
  background-color: var(--things-i-love-background);
  color: white;
  padding: 3rem 1.5rem;
  line-height: 1.4;
}

.things-i-love-page .container .wrapper .icon-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  line-height: 8rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.things-i-love-page .container .wrapper .icon-container .iconify {
  color: white;
  font-size: var(--icons-size);
}

.things-i-love-page .container .wrapper h3 {
  text-align: center;
  font-size: calc(var(--medium-text) + 0.3rem);
  margin-top: 7rem;
}

.things-i-love-page .container .wrapper p {
  font-size: var(--small-text);
  margin-top: 2rem;
}

.things-i-love-page .container .wrapper:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.skillsets-page {
  width: 100vw;
  min-height: 62.5rem;
  margin-top: 5rem;
}

.skillsets-page .container {
  height: 60rem;
  margin-top: 2rem;
  position: relative;
}

.skillsets-page .container .skills-icon-container {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.skillsets-page .container .skills-icon-container div {
  width: 7rem;
  height: 7rem;
  margin: 3rem 2rem;
  color: white;
  font-size: var(--skills-icon-size);
}

.skillsets-page .container .skills-icon-container div#scss svg path {
  fill: white;
}

.skillsets-page .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate(-4.3deg) scaleX(2);
          transform: rotate(-4.3deg) scaleX(2);
}

@media only screen and (min-width: 669px) and (max-width: 800px) {
  .skillsets-page .container {
    height: 65rem;
  }
}

.projects-page {
  width: 100%;
  margin-top: 5rem;
}

.projects-page .projects-container {
  position: relative;
  left: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.projects-page .projects-container .project-card {
  position: relative;
  width: 70rem;
  min-height: 45rem;
  background: var(--secondary-background-color);
  margin-bottom: 5rem;
  padding: 2rem 10rem 0 0;
  border-radius: 0.5rem;
}

.projects-page .projects-container .project-card:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.projects-page .projects-container .project-card header {
  position: absolute;
  right: -48rem;
  top: 44%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60rem;
  height: 35rem;
}

.projects-page .projects-container .project-card header img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.projects-page .projects-container .project-card main {
  padding: 2rem 3rem;
}

.projects-page .projects-container .project-card main h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  color: var(--text-color);
}

.projects-page .projects-container .project-card main p {
  font-size: var(--medium-text);
  color: var(--text-color);
  margin-top: 0.5rem;
}

.projects-page .projects-container .project-card .card-footer {
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
}

.projects-page .projects-container .project-card .card-footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page .projects-container .project-card .card-footer .right-side .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1480px) {
  .projects-page .projects-container {
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .projects-page .projects-container .project-card {
    min-height: auto;
    position: static;
    padding: 0;
  }
  .projects-page .projects-container .project-card header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .projects-page .projects-container .project-card header img {
    max-height: 40rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects-page .projects-container .project-card .card-footer {
    position: static;
  }
}

.mini-project-page {
  width: 100vw;
  min-height: 66rem;
  margin-top: 10rem;
}

.mini-project-page .container {
  width: 100%;
  height: 55rem;
  position: relative;
  margin-top: 5rem;
}

.mini-project-page .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
  -webkit-transform: rotate(-4.3deg) scaleX(1.2);
          transform: rotate(-4.3deg) scaleX(1.2);
  z-index: -1;
}

.mini-project-page .container .projects-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  min-height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}

.mini-project-page .container .projects-container .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 35rem;
  min-height: 20rem;
  color: white;
  background-color: var(--primary-background-color);
  padding: 2rem 1rem;
  margin-left: 3rem;
  outline: 0.1rem solid var(--primary-color);
}

.mini-project-page .container .projects-container .project-item h3.title {
  font-size: var(--medium-text);
}

.mini-project-page .container .projects-container .project-item p {
  width: 100%;
  font-size: var(--small-text);
  line-height: 1.4;
  margin: 1rem 0;
}

.mini-project-page .container .projects-container .project-item .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-project-page .container .projects-container .project-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: auto;
}

.mini-project-page .container .projects-container .project-item .wrapper .made-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-project-page .container .projects-container .project-item:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(102, 84, 84, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(102, 84, 84, 0.25);
}

section.other-portfolios-page {
  background-color: var(--secondary-background-color);
  margin-top: 10rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.other-portfolios-page ul {
  margin-top: 4rem;
  list-style: none;
}

section.other-portfolios-page ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: var(--medium-text);
  color: white;
  padding: 0 1.5rem;
}

section.other-portfolios-page ul li .iconify {
  margin-right: 0.5rem;
  font-weight: 400;
}

section.other-portfolios-page ul li span {
  margin-left: 0.5rem;
  font-weight: 600;
}

.wanna-talk-page {
  width: 100%;
  margin-top: 10rem;
  position: relative;
}

.wanna-talk-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  font-size: var(--medium-text);
  color: white;
  line-height: 1.4;
}

.wanna-talk-page .container .content {
  width: 65rem;
}

.wanna-talk-page .btn {
  display: block;
  min-width: 15rem;
  font-size: var(--medium-text);
  padding: 1.5rem 1rem;
  margin: 5rem auto 0 auto;
  border: 0.1rem solid var(--primary-color);
  outline: none;
  background: none;
  cursor: pointer;
}

.wanna-talk-page .btn a {
  text-decoration: none;
  color: var(--text-color);
}

.wanna-talk-page .btn:hover {
  background-color: var(--primary-color);
}

#footer {
  margin-top: 10rem;
  width: 100%;
  height: 15rem;
  color: white;
  font-size: var(--medium-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

#footer .social-links div {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
  font-size: var(--social-links-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#footer .social-links div a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: white;
}

#footer .social-links div:nth-child(1) {
  background-color: #0291ff;
}

#footer .social-links div:nth-child(2) {
  background-color: #000;
}

#footer .social-links div:nth-child(3) {
  background-color: #0077b5;
}

#footer .social-links div:nth-child(5) {
  background-color: #3b5999;
}

#footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .bottom-footer p span#name {
  font-family: 'Charmonman', cursive;
}

#footer .bottom-footer .flag-container {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

#footer .bottom-footer .flag-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.page-heading {
  position: relative;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--page-heading-text);
  color: var(--page-heading-color);
}

.desc {
  width: 60%;
  font-size: calc(var(--medium-text) + 0.3rem);
  color: white;
  margin: 0 auto 0 auto;
  padding-top: 4.5rem;
}

.check-repo {
  display: inline-block;
  background: var(--primary-color);
  padding: 0.8rem 1.8rem;
  font-size: var(--check-repo-btn-size);
  border: none;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  min-width: 15.5rem;
}

.check-repo a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: white;
}

.check-repo:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

.technology-used {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: calc(var(--small-text) - 0.2rem);
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 0 0.3rem;
  color: white;
}

.technology-used svg path {
  fill: white;
}

.live-link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  font-size: var(--medium-text);
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

.live-link a {
  display: block;
  text-decoration: none;
  color: white;
}

.live-link a svg {
  display: block;
}

.navigation {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--navigation-button-logo-size);
  color: white;
  position: fixed;
  bottom: 4rem;
  right: 7rem;
  z-index: 99;
}

.navigation .navigation-menu {
  display: none;
  font-size: var(--medium-text);
  background: var(--primary-color);
  position: absolute;
  top: -47.5rem;
  left: -20rem;
  width: 30rem;
  padding: 2rem 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation .navigation-menu .close-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 0 0;
  cursor: default;
}

.navigation .navigation-menu .close-btn-container .close-btn {
  width: 3rem;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-left: auto;
  cursor: pointer;
  font-size: 3rem;
}

.navigation .navigation-menu ul {
  list-style: none;
}

.navigation .navigation-menu ul li {
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
}

.navigation .navigation-menu ul li:hover {
  background: var(--secondary-background-color);
}

.navigation .navigation-menu ul li a {
  display: block;
  text-decoration: none;
  color: white;
}

.navigation .show {
  display: block;
}

.navigation .show-navigation {
  display: block;
}

.navigation:hover {
  -webkit-box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 996px) {
  html {
    font-size: 58%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 70%;
  }
  .skillsets-page .container .skills-icon-container div {
    width: 6rem;
    height: 6rem;
    font-size: calc(var(--skills-icon-size) - 1rem);
  }
  #about .content-wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  #about .content-wrapper .about-me {
    width: 80%;
    margin: 2rem 0 5rem 0;
  }
  #about .content-wrapper .my-picture {
    margin: 0;
  }
  .desc {
    width: 80%;
  }
  .projects-page .projects-container .project-card {
    border: 0.1rem solid var(--primary-color);
    width: 80%;
  }
  .projects-page .projects-container .project-card header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 670px) {
  .desc {
    width: 80%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 88%;
  }
  .skillsets-page .container .skills-icon-container div {
    margin: 2rem 2rem;
  }
  .landing-page .logo {
    left: 5rem;
  }
  .landing-page .hero-div {
    left: 5rem;
  }
  .landing-page .bottom-container .social-links {
    display: none;
  }
  .navigation {
    right: 5rem;
    bottom: 7rem;
  }
  .things-i-love-page .container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .things-i-love-page .container .wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --hero-text: 6rem;
  }
  .skillsets-page {
    margin-top: 10rem;
    min-height: 63rem;
  }
  .skillsets-page .container .skills-icon-container div {
    width: 5rem;
    height: 5rem;
    font-size: calc(var(--skills-icon-size) - 2rem);
  }
  .wanna-talk-page .container .content {
    width: 90%;
  }
  canvas {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 54%;
  }
  #about .quote-text {
    padding: 0 4rem;
  }
  .landing-page .dev-container p {
    opacity: 0.02;
  }
  .projects-page .projects-container .project-card main {
    padding: 2rem 1.5rem;
  }
  .projects-page .projects-container .project-card .card-footer {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .skillsets-page .container .skills-icon-container div {
    width: 3rem;
    height: 3rem;
    font-size: calc(var(--skills-icon-size) - 3rem);
  }
}
/*# sourceMappingURL=main.css.map */