// *Import partials

// *Load Spinner
@import "partials/spinner";

// *Load Variables
@import "partials/variables";

// *Import Reset
@import "partials/reset";

// *Import Main
@import "partials/main";

// *Import About
@import "partials/about";

// *Import Things i love
@import "partials/things-i-love";

// *Import SkillSets
@import "partials/skillsets";

// *Import projects
@import "partials/projects";

// *Import Mini Projects
@import "partials/mini-projects";

// *Import Other Portfolios
@import "partials/other-portfolios";

// *Import Wanna Talk
@import "partials/wanna-talk";

// *Import Footer
@import "partials/footer";

// *Styling of page heading of each page
.page-heading {
  position: relative;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--page-heading-text);
  color:var(--page-heading-color);
}
//*Styling page description of each page
.desc {
  width: 60%;
  // text-align: justify;
  // word-break: break-all;
  font-size: calc(var(--medium-text) + 0.3rem);
  color: white;
  margin: 0 auto 0 auto;
  padding-top: 4.5rem;
}
// *Check repository button style
.check-repo {
  display: inline-block;
  background: var(--primary-color);
  padding: 0.8rem 1.8rem;
  font-size: var(--check-repo-btn-size);
  border: none;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  min-width: 15.5rem;
  a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: white;
  }

  &:hover {
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  }
}
//*Styling of technologies used class for each page
.technology-used {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: calc(var(--small-text) - 0.2rem);
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 0 0.3rem;
  color: white;
  svg path {
    fill: white;
  }
}

.live-link {
  display:grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  font-size: var(--medium-text);
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  a {
    display: block;
    text-decoration: none;
    color: white;
    svg{
      display: block;
    }
  }
}
//*Styling of Navigation Button
//!i used px for navigation
.navigation {
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--navigation-button-logo-size);
  color: white;

  position: fixed;
  bottom: 4rem;
  right: 7rem;
  z-index: 99;

  .navigation-menu {
    display:none;
    font-size: var(--medium-text);
    background: var(--primary-color);
    position: absolute;
    top: -47.5rem;
    left: -20rem;
    width: 30rem;
    padding: 2rem 0;
    transition: 1s;

    .close-btn-container {
      display: flex;
      margin: 0 2rem 0 0;
      cursor: default;
      .close-btn {
        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;
        margin-left: auto;
        cursor:pointer;
        font-size: 3rem;
      }
    }
    ul {
      list-style: none;
      li {
        margin: 0.5rem 0;
        padding: 0.5rem 2rem;
        &:hover {
          background: var(--secondary-background-color);
        }
        a {
          display: block;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .show {
    display: block;
  }
  .show-navigation {
    display: block;
  }
  &:hover{
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  }
}

//*Media Queries
@media only screen and (max-width: 996px) {
  html {
    font-size: 58%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 70%;
    div {
      width: 6rem;
      height: 6rem;
      font-size: calc(var(--skills-icon-size) - 1rem);
    }
  }

  #about .content-wrapper {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
    .about-me {
      width: 80%;
      margin: 2rem 0 5rem 0;
    }
    .my-picture {
      margin: 0;
    }
  }
  .desc {
    width: 80%;
  }
  .projects-page .projects-container .project-card {
    border: 0.1rem solid var(--primary-color);
    width: 80%;
    header {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 670px) {
  .desc {
    width: 80%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 88%;
    div {
      margin: 2rem 2rem;
    }
  }
  .landing-page {
    .logo {
      left: 5rem;
    }

    .hero-div {
      left: 5rem;
    }
    .bottom-container {
      .social-links {
        display: none;
      }
    }
  }
  .navigation {
    right: 5rem;
    bottom: 7rem;
  }
  .things-i-love-page .container {
    height: auto;
    flex-direction: column;
    .wrapper {
      margin-left: 0;
      margin-right: 0;
      width: 80%;
    }
  }
}

//*Mobile Design
@media only screen and (max-width: 600px) {
  :root {
    --hero-text: 6rem;
  }
  .skillsets-page {
    margin-top: 10rem;
    min-height: 63rem;

    .container .skills-icon-container {
      div {
        width: 5rem;
        height: 5rem;
        font-size: calc(var(--skills-icon-size) - 2rem);
      }
    }
  }

  .wanna-talk-page .container .content {
    width: 90%;
  }
  canvas{
    opacity: 0.5;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 54%;
  }

  #about .quote-text {
    padding: 0 4rem;
  }
  .landing-page {
    .dev-container p {
      opacity: 0.02;
    }
  }

  .projects-page .projects-container .project-card {
    main {
      padding: 2rem 1.5rem;
    }
    .card-footer {
      padding: 2rem 1.5rem;
    }
  }
}
@media only screen and (max-width: 450px) {
  .skillsets-page .container .skills-icon-container div {
    width: 3rem;
    height: 3rem;
    font-size: calc(var(--skills-icon-size) - 3rem);
  }
}
