:root {
  --primary-color: #137ffd;
  --primary-background-color: #191919;
  --secondary-background-color: #232323;
  --navigation-button-logo-size: 30px;
  --dev-icon-size: 20rem;
  --logo-size: 7rem;
  --hero-text: 7rem;
  --skills-icon-size: 7rem;
  --code-text: 7rem;
  --sub-hero-text: 3.5rem;
  --page-heading-text: 4rem;
  --icons-size: 4rem;
  --quote-text: 3.2rem;
  --medium-text: 2.2rem;
  --small-text: 2rem;
  --social-links-text: 2rem;
  --check-repo-btn-size: 1.5rem;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Crimson Text", serif;
  scrollbar-color: var(--primary-color) var(--primary-background-color);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-background-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: var(--primary-color);
}

.landing-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.landing-page .logo {
  position: absolute;
  left: 7rem;
  width: 10rem;
  height: 10rem;
  color: var(--primary-color);
  font-size: var(--logo-size);
  line-height: 10rem;
  font-family: "Crete Round", serif;
}

.landing-page .hero-div {
  position: absolute;
  left: 7rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1.4;
  font-family: "Josefin Sans", sans-serif;
}

.landing-page .hero-div p:nth-child(1) {
  color: var(--primary-color);
  font-size: calc(var(--small-text) + 1rem);
}

.landing-page .hero-div p:nth-child(2) {
  color: white;
  font-size: var(--hero-text);
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.landing-page .hero-div p:nth-child(3) {
  color: #ded2d2;
  opacity: 0.62;
  font-size: var(--sub-hero-text);
}

.landing-page .hero-div p:nth-child(4) {
  color: #ded2d2;
  opacity: 0.2;
  font-size: var(--code-text);
  font-family: "Ubuntu", sans-serif;
}

.landing-page .dev-container {
  width: 20rem;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.landing-page .dev-container p {
  color: #ded2d2;
  font-size: var(--dev-icon-size);
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1rem;
  opacity: 0.1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.landing-page .bottom-container {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .bottom-container .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6rem;
}

.landing-page .bottom-container .social-links p {
  padding: 0 1rem;
}

.landing-page .bottom-container .social-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: var(--social-links-text);
}

.landing-page .bottom-container .navigation {
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-right: 10rem;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  font-size: var(--navigation-button-logo-size);
  color: white;
}

.page-heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--page-heading-text);
  color: white;
}

.about-page {
  width: 100vw;
  min-height: 75vh;
  padding: 7rem 0 5rem 0;
  background-color: var(--secondary-background-color);
}

.about-page .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
  margin: 3rem 0;
}

.about-page .content-wrapper .about-me {
  width: 47%;
  height: inherit;
  color: white;
  font-size: var(--medium-text);
}

.about-page .content-wrapper .about-me p {
  text-indent: 7rem;
}

.about-page .content-wrapper .my-picture {
  height: 25rem;
  width: 25rem;
}

.about-page .content-wrapper .my-picture img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-page .quote-text {
  text-align: center;
  color: white;
  font-size: var(--quote-text);
  font-family: "Caveat", cursive;
  padding: 0 10rem;
}

.things-i-love-page {
  width: 100vw;
  min-height: 60vh;
  margin-top: 5rem;
}

.things-i-love-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 3.5rem;
}

.things-i-love-page .container .wrapper {
  position: relative;
  width: 28rem;
  height: 30rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: var(--secondary-background-color);
  color: white;
  padding: 3rem 1.5rem;
  line-height: 1.4;
}

.things-i-love-page .container .wrapper .icon-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  line-height: 8rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.things-i-love-page .container .wrapper .icon-container .iconify {
  color: white;
  font-size: var(--icons-size);
}

.things-i-love-page .container h3 {
  text-align: center;
  font-size: calc(var(--medium-text) + 0.3rem);
  margin-top: 7rem;
}

.things-i-love-page .container p {
  font-size: var(--small-text);
  margin-top: 2rem;
}

.skillsets-page {
  width: 100vw;
  min-height: 75vh;
  margin-top: 5rem;
}

.skillsets-page .container {
  height: 55rem;
  margin-top: 2rem;
  position: relative;
}

.skillsets-page .container .skills-icon-container {
  width: 60%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.skillsets-page .container .skills-icon-container div {
  width: 7rem;
  height: 7rem;
  margin: 3rem 2rem;
  color: white;
  font-size: var(--skills-icon-size);
}

.skillsets-page .container .skills-icon-container div#scss svg path {
  fill: white;
}

.skillsets-page .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate(-4.3deg) scaleX(2);
          transform: rotate(-4.3deg) scaleX(2);
}

.desc {
  width: 60%;
  font-size: calc(var(--medium-text) + 0.3rem);
  color: white;
  line-height: 1.4;
  margin: 0 auto 0 auto;
  padding-top: 4.5rem;
}

.projects-page {
  width: 100%;
  margin-top: 5rem;
}

.projects-page .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.projects-page .projects-container .project-item {
  position: relative;
  width: 50rem;
  min-height: 28rem;
  color: white;
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
  padding: 2rem 0 0 2rem;
  margin-bottom: 3rem;
}

.projects-page .projects-container .project-item h3 {
  font-size: calc(var(--medium-text) + 0.3rem);
  width: 70%;
}

.projects-page .projects-container .project-item p {
  margin-top: 1rem;
  line-height: 1.4;
  font-size: var(--small-text);
  width: 70%;
}

.projects-page .projects-container .project-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  position: absolute;
  bottom: 1.5rem;
}

.projects-page .projects-container .project-item .wrapper .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page .projects-container .project-item .wrapper .made-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-page .projects-container .project-item .screenshot-project {
  position: absolute;
  width: 35rem;
  height: 20rem;
  right: -22rem;
  top: 1.5rem;
  z-index: 1;
}

.projects-page .projects-container .project-item .screenshot-project img {
  max-width: 100%;
  height: 100%;
}

.mini-project-page {
  width: 100vw;
  min-height: 65vh;
  margin-top: 10rem;
}

.mini-project-page .container {
  width: 100%;
  height: 55rem;
  position: relative;
  margin-top: 5rem;
}

.mini-project-page .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-color);
  -webkit-transform: rotate(-4.3deg) scaleX(1.2);
          transform: rotate(-4.3deg) scaleX(1.2);
  z-index: -1;
}

.mini-project-page .container .projects-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}

.mini-project-page .container .projects-container .project-item {
  position: relative;
  min-width: 35rem;
  width: 35rem;
  height: 20rem;
  color: white;
  background-color: var(--primary-background-color);
  padding: 2rem 1rem;
  margin-left: 3rem;
  outline: 0.1rem solid var(--primary-color);
}

.mini-project-page .container .projects-container .project-item h3.title {
  font-size: var(--medium-text);
}

.mini-project-page .container .projects-container .project-item p {
  font-size: var(--small-text);
  line-height: 1.4;
  margin-top: 1rem;
}

.mini-project-page .container .projects-container .project-item .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-project-page .container .projects-container .project-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  position: absolute;
  bottom: 1.5rem;
}

.mini-project-page .container .projects-container .project-item .wrapper .made-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-repo-btn {
  display: block;
  width: 13rem;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  font-size: var(--check-repo-btn-size);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.check-repo-btn a {
  text-decoration: none;
  color: white;
}

.technologies-used {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3.9rem;
  font-size: calc(var(--small-text) - 0.2rem);
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 0 0.3rem;
}

.wanna-talk-page {
  width: 100%;
  margin-top: 10rem;
  position: relative;
}

.wanna-talk-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  font-size: var(--medium-text);
  color: white;
  line-height: 1.4;
}

.wanna-talk-page .container .content {
  width: 55rem;
}

.wanna-talk-page .btn {
  display: block;
  width: 15rem;
  font-size: var(--medium-text);
  padding: 1.5rem 1rem;
  margin: 5rem auto 0 auto;
  border: 0.1rem solid var(--primary-color);
  outline: none;
  background: none;
  color: white;
  cursor: pointer;
}

.wanna-talk-page footer {
  margin-top: 10rem;
  width: 100%;
  height: 15rem;
  color: white;
  font-size: var(--medium-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.4;
}

.wanna-talk-page footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.wanna-talk-page footer .social-links div {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  font-size: var(--social-links-text);
  text-align: center;
  line-height: 3.6rem;
  border-radius: 50%;
}

.wanna-talk-page footer .social-links div a {
  text-decoration: none;
  color: white;
}

.wanna-talk-page footer .social-links div:nth-child(1) {
  background-color: #0291ff;
}

.wanna-talk-page footer .social-links div:nth-child(2) {
  background-color: #000;
}

.wanna-talk-page footer .social-links div:nth-child(3) {
  background-color: #0077b5;
}

.wanna-talk-page footer .social-links div:nth-child(5) {
  background-color: #3b5999;
}

.wanna-talk-page footer p span#name {
  font-family: "Caveat", cursive;
}

.show-screenshot {
  display: none;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3.7rem;
  font-size: var(--medium-text);
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

.live-link {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3.7rem;
  font-size: var(--medium-text);
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

.live-link a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 996px) {
  html {
    font-size: 58%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 70%;
  }
  .skillsets-page .container .skills-icon-container div {
    width: 6rem;
    height: 6rem;
    font-size: calc(var(--skills-icon-size) - 1rem);
  }
  .projects-page .projects-container .project-item {
    outline: 0.1rem solid var(--primary-color);
    position: relative;
    width: 50rem;
    height: 25rem;
  }
  .projects-page .projects-container .project-item p {
    width: 100%;
  }
  .projects-page .projects-container .project-item .screenshot-project {
    display: none;
  }
  .show-screenshot {
    display: block;
  }
  .desc {
    width: 65%;
  }
}

@media only screen and (max-width: 670px) {
  .desc {
    width: 80%;
  }
  .skillsets-page .container .skills-icon-container {
    width: 80%;
  }
  .skillsets-page .container .skills-icon-container div {
    margin: 2rem 2rem;
  }
  .landing-page .logo {
    left: 5rem;
  }
  .landing-page .hero-div {
    left: 5rem;
  }
  .landing-page .bottom-container .social-links {
    display: none;
  }
  .landing-page .bottom-container .navigation {
    position: absolute;
    right: -3rem;
    bottom: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --hero-text: 6rem;
  }
  .about-page .content-wrapper {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .about-page .content-wrapper .about-me {
    width: 80%;
    margin: 2rem 0 5rem 0;
  }
  .things-i-love-page .container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .things-i-love-page .container .wrapper {
    margin: 2rem 0;
    width: 60%;
  }
  .skillsets-page {
    margin-top: 10rem;
    min-height: 55vh;
  }
  .skillsets-page .container .skills-icon-container div {
    width: 5rem;
    height: 5rem;
    font-size: calc(var(--skills-icon-size) - 2rem);
  }
  .projects-page .projects-container .project-item {
    width: 80%;
  }
  .wanna-talk-page .container .content {
    width: 80%;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 52%;
  }
  .things-i-love-page .container .wrapper {
    width: 80%;
  }
  .about-page .quote-text {
    padding: 0 4rem;
  }
  .landing-page .dev-container p {
    opacity: 0.02;
  }
}

@media only screen and (max-width: 450px) {
  .skillsets-page .container .skills-icon-container div {
    width: 4rem;
    height: 4rem;
    font-size: calc(var(--skills-icon-size) - 3rem);
  }
}
/*# sourceMappingURL=main.css.map */