.btn {
  padding: 1rem 3rem;
  font-size: 1.8rem;
}

.download-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 50px;
  animation: change-color 3s infinite alternate-reverse;
  &:hover {
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  }
}

@keyframes change-color {
  from {
    background-color: var(--primary-color);
  }
  to {
    background-color: #006eff;
  }
}

.btn-outline {
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.check-repo {
  display: inline-block;
  border: 0.1px solid var(--primary-color);
  padding: 0.8rem 1.8rem;
  font-size: var(--check-repo-btn-size);
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  min-width: 15.5rem;
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
  a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    color: var(--text-color);
  }

  &:hover {
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.25);
  }
}

.technology-used {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: calc(var(--small-text) - 0.2rem);
  border-radius: 50%;
  margin: 0 0.3rem;
  color: white;
  svg path {
    fill: white;
  }
}

.technology-used-primary {
  background-color: var(--primary-color);
}

.live-link {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  font-size: var(--medium-text);
  border: none;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  a {
    display: block;
    text-decoration: none;
    color: white;
    svg {
      display: block;
    }
  }
}

.theme-toggle-btn {
  position: absolute;
  color: var(--text-color);
  z-index: 100;
  top: 2rem;
  right: 2rem;
  font-size: 1.2rem;
}
