@import "./base/index";

@import "./atoms/index";

@import "./molecules/index";

@import "./pages/index";

@import "./media/index";

.dev-card {
  width: 40rem;
  transform: perspective(600px) rotateY(-10deg);
  transition: transform 1s;
  &:hover {
    transform: perspective(600px) rotateY(0deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
