:root {
  --primary-color: #0a428b;
  --secondary-color: #0c1116;
  --primary-background-color: #0e1217;
  --secondary-background-color: #13181c;
  --code-editor-navigation: #111b25;
  --dev-color: #ded2d2;

  --page-heading-color: white;
  --text-color: white;

  --navigation-button-logo-size: 30px;

  --dev-icon-size: 20rem;

  --logo-size: 5rem;
  --hero-text: 7rem;
  --skills-icon-size: 7rem;
  --code-text: 7rem;

  --sub-hero-text: 3.5rem;

  --page-heading-text: 4rem;
  --icons-size: 4rem;

  --quote-text: 3.2rem;

  --medium-text: 2.5rem;

  --small-text: 2rem;
  --social-links-text: 2.2rem;

  --check-repo-btn-size: 1.5rem;
}
