.stat {
  & p:first-child {
    font-size: 9rem;
    font-weight: 900;
    color: var(--text-color);
  }
  & p:last-child {
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
  }
}
