.timeline {
  .wrapper {
    max-width: 1080px;
    margin: 5rem auto;
    padding: 0 2rem;
    position: relative;
  }
  .wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 0.4rem;
    background: var(--secondary-color);
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
  }
  .wrapper .row {
    display: flex;
  }
  .wrapper .row-1 {
    justify-content: flex-start;
  }
  .wrapper .row-2 {
    justify-content: flex-end;
  }
  .wrapper .row section {
    background: var(--secondary-color);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    color: white;
  }

  .wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--secondary-color);
    top: 28px;
    z-index: 1;
    transform: rotate(45deg);
  }
  .row-1 section::before {
    right: -7px;
  }
  .row-2 section::before {
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon {
    position: absolute;
    background: var(--secondary-color);
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 17px;
    transform: translateX(-50%);
  }
  .row-1 section .icon {
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon {
    top: 15px;
    left: -60px;
  }
  .row section .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title {
    font-size: 2rem;
    font-weight: 600;
  }
  .row section p {
    margin: 10px 0 17px 0;
    font-size: 1.6rem;
  }
  .row section span {
    font-size: 1.2rem;
  }
}

@media (max-width: 790px) {
  .timeline .wrapper .center-line {
    left: 40px;
  }
  .timeline .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .timeline .wrapper .row section {
    width: 100%;
  }
  .timeline .row-1 section::before {
    left: -7px;
  }
  .timeline .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .timeline .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .timeline .wrapper .row {
    margin: 10px 0;
  }
}
