//*Styling of about page
#about {
  min-height: 70rem;
  padding: 7rem 0 7rem 0;
  background-color: var(--secondary-background-color);
  .content-wrapper {
    display: flex;
    justify-content: center;
    // !align-items:center;
    margin: 3rem 0;
    .about-me {
      width: 40%;
      color: white;
      font-size: var(--medium-text);
      align-self: center;

      span {
        font-weight: 600;
        &.flag{
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          margin-left:0.5rem;
          
          img{
            max-width: 100%;
            max-height: 100%;
            height: auto;
          }
        }
      }
      
      p {
        // text-align: justify;
        // word-break: break-all;
        // hyphens:auto;
        margin-bottom: 1.5rem;
      }
    }
    .my-picture {
      height: 30rem;
      width: 30rem;
      margin: 3rem 0 0 3rem;
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        border-radius: 50%;
      }
    }
  }
  .quote-text {
    text-align: center;
    color: white;
    padding: 0 5rem;
    font-size: var(--quote-text);
    font-family: "Caveat", cursive;
  }
  
}
