section.other-portfolios-page{
    background-color:var(--secondary-background-color);
    margin-top:10rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        margin-top: 4rem;
        list-style: none;
        li{
            font-size: var(--medium-text);
            text-align: center;
            color: white;
            .fa-briefcase{
                margin-right: 0.5rem;
            }
            span{
                font-weight: 600;
            }
        }
    }
}