section.other-portfolios-page{
    background-color:var(--secondary-background-color);
    margin-top:10rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        margin-top: 4rem;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            font-size: var(--medium-text);
            color: white;
            padding:0 1.5rem;
            .iconify{
                margin-right: 0.5rem;
                font-weight: 400;
            }
            span{
                margin-left: 0.5rem;
                font-weight: 600;
            }
        }
    }
}