//CSS Variable
:root {
    --primary-color: #006eff;
    --primary-background-color: #191919;
    --secondary-background-color: #232323;
    --dev-color:#ded2d2;
    --page-heading-color:white;
    --things-i-love-background:#232323;
    --text-color:white;
  
    --navigation-button-logo-size: 30px;
  
    --dev-icon-size: 20rem;
  
    --logo-size: 5rem;
    --hero-text: 7rem;
    --skills-icon-size: 7rem;
    --code-text: 7rem;
  
    --sub-hero-text: 3.5rem;
  
    --page-heading-text: 4rem;
    --icons-size: 4rem;
  
    --quote-text: 3.2rem;
  
    --medium-text: 2.5rem;
  
    --small-text: 2rem;
    --social-links-text: 2.2rem;
  
    --check-repo-btn-size: 1.5rem;
  }
  