//*Styling of wanna talk page
.wanna-talk-page {
    width: 100%;
    margin-top: 10rem;
    position: relative;
    .container {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      font-size: var(--medium-text);
      color: white;
      line-height: 1.4;
      .content {
        width: 65rem;
      }
    }
    .btn {
      display: block;
      min-width: 15rem;
      font-size: var(--medium-text);
      padding: 1.5rem 1rem;
      margin: 5rem auto 0 auto;
      border: 0.1rem solid var(--primary-color);
      outline: none;
      background: none;
      cursor: pointer;
      a{
        text-decoration: none;
        color:var(--text-color);
      }
      &:hover{
        background-color: var(--primary-color);
      }
    }
  }